@font-face {
  font-family: 'Geist';
  src: url('../font/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../font/Geist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../font/Geist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('../font/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../font/NotoSansTC-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../font/NotoSansTC-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../font/NotoSansTC-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../font/NotoSansTC-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
